<launch>
    <!--rosrun lexus_base speed_control-->
    <node pkg="lexus_base" type="speed_control" name="speed_control_pid" output="screen">
        <param name="p_gain_accel" value="0.5"/>
        <param name="i_gain_accel" value="1.0"/>
        <param name="d_gain_accel" value="0.0"/>
        <param name="p_gain_brake" value="0.3"/>
        <param name="i_gain_brake" value="1.0"/>
        <param name="d_gain_brake" value="0.0"/>
    </node>
</launch>